//- Variables
-var titulo = "Título Principal";
-var titulos = ["Subtitulo 1", "Subtitulo 2", "Subtitulo 3"];
-var enlaces["Acerca", "Noticias", "Contacto"]

//- Declaración mixin
mixin caja(imagen, titulo, contenido)
    .caja
        .caja__imagen: img(src="images/"+imagen, alt="Imagen")
        .caja__contenido
            h3 #{titulo}
            p #{contenido}